.app {
  display: flex;
}

.app-navbar {
  width: 200px;
  height: 100vh;
}

.app-content {
  width: calc(100% - 200px);
  height: 100vh;
}

.app-symbol-charts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;

  .symbol-charts-widget {
    flex: 1 0 50%;
    margin: 0;
    height: 50%;
  }

  &.app-symbol-charts-6 {
    .symbol-charts-widget {
      flex: 1 0 33%;
      margin: 0;
      height: 50%;
    }
  }
}

.navbar {
  .navbar-title {
    display: none;
    height: 30px;
    line-height: 30px;

    svg {
      height: 100%;
      cursor: pointer;
    }
  }
  a {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 5px;
    text-decoration: none;
    color: black;
    /*background: blue;*/
    border-bottom: 1px dashed #000;

    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}

.navbar-element-active a {
  /*background-color: green;*/
  font-weight: bold;
  background: rgba(0, 0, 0, 0.1);
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
